* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
}
.container .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container .navbar__list {
  display: flex;
  gap: 40px;
}
@media (max-width: 575px) {
  .container .navbar__list {
    display: none !important;
  }
}
.container .navbar__list .list-item-dropdown {
  position: relative;
  display: inline-block;
}
.container .navbar__list .list-item-dropdown a {
  color: #000;
}
.container .navbar__list .list-item .link {
  color: #000;
}
.container .navbar__list .dropdown__list {
  position: absolute;
  width: 150px;
  height: 80px;
  text-align: left;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 10px;
  left: 10px;
  z-index: 1;
  opacity: 0;
  border-radius: 5px;
}
.container .navbar__list .dropdown__list:hover {
  opacity: 1;
  transition: 2s;
  transform: translateX(-50px);
}

.data {
  background-image: url(../assets/images/handmadebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
.data .container {
  width: 60%;
  margin: 0 auto;
}
.data__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(76, 31, 89);
  width: 100%;
}
.data__top .top-paraghraph {
  color: #fff;
  text-align: center;
}
.data .data__text {
  display: flex;
  color: #fff;
  flex-direction: column;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .data .data__text {
    display: none !important;
  }
}
.data .data__text .text__btn {
  margin-top: 40px;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(93, 87, 94);
  font-weight: 600;
}
.data .data__text .text__heading {
  font-size: 100px;
}
.data .data__text .text__paraghraph {
  font-size: 40px;
}

.data::after {
  content: "";
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
}

.bestseller-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 60px;
}
.bestseller__container {
  display: flex;
  width: 60%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .bestseller__container {
    flex-wrap: wrap;
  }
}
.bestseller__container-list {
  text-align: center;
  position: relative;
}
.bestseller__container-list h2 {
  font-size: 25px;
  font-weight: 500;
  word-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.bestseller__container-list__gray {
  color: rgb(198, 193, 193);
  text-decoration: line-through;
  padding-right: 15px;
}

.bestseller__container-list::after {
  content: "SALE";
  background-color: rgb(76, 31, 89);
  color: #fff;
  text-align: center;
  width: 70px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}

.home-decor {
  margin-top: 80px;
  background-image: url(../assets/images/decorbg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-decor__container {
  width: 60%;
}
.home-decor__container-text {
  text-align: center;
}
.home-decor__container-text__heading {
  font-size: 80px;
  font-weight: 600;
  padding-bottom: 20px;
}
.home-decor__container-text__paraghraph {
  padding-bottom: 50px;
}
.home-decor__container-text__btn {
  background-color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(93, 87, 94);
  font-weight: 600;
}

.about__mina {
  margin-top: 50px;
  margin-bottom: 70px;
}
.about__mina-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.about__mina-container__left-heading {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-top: 30px;
}
.about__mina-container__left-paraghraph {
  color: rgb(93, 87, 94);
  padding-bottom: 40px;
}
.about__mina-container__left-btn {
  background-color: rgb(76, 31, 89);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 15px;
}
.about__mina-container__right-heading {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}
.about__mina-container__right-paraghraph {
  color: rgb(93, 87, 94);
  padding-bottom: 40px;
}
.about__mina-container__right-btn {
  background-color: rgb(76, 31, 89);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 15px;
}

.sign-up {
  background-image: url(../assets/images/signbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up__container {
  color: #fff;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.sign-up__container-text__heading {
  font-size: 60px;
  padding-bottom: 40px;
  font-weight: 400;
}
@media (max-width: 575px) {
  .sign-up__container-text__heading {
    font-size: 40px;
  }
}
.sign-up__container-text__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 575px) {
  .sign-up__container-text__form {
    display: none;
  }
}
.sign-up__container-text__form-label {
  transform: translateX(-150px);
  padding-bottom: 5px;
}
.sign-up__container-text__form-input {
  width: 400px;
  padding: 10px;
  font-size: 15px;
}
.sign-up__container-text__form-btn {
  color: rgb(76, 31, 89);
  background-color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 30px;
}

.follow-us {
  margin-top: 50px;
}
.follow-us__container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.follow-us__container-images__heading {
  font-size: 45px;
}
.follow-us__container-images__slide {
  width: 32%;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.follow-us__container-btn {
  background-color: rgb(76, 31, 89);
  padding: 15px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: rgb(241, 241, 241);
  margin-top: 120px;
  display: flex;
  align-items: center;
  height: 350px;
}
footer .footer__container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
footer .footer__container-left {
  display: flex;
  flex-direction: column;
}
footer .footer__container-left-logo {
  font-size: 40px;
  padding-bottom: 30px;
  font-weight: 800;
}
footer .footer__container-left__social {
  display: flex;
  gap: 20px;
}
footer .footer__container-left__social .link .link__image {
  width: 25px;
}
footer .footer__container-right__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 575px) {
  footer .footer__container-right__list {
    display: none;
  }
}
footer .footer__container-right__list a {
  color: #000;
  text-decoration: underline;
  font-size: 20px;
}/*# sourceMappingURL=web.css.map */